*{
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #17191C;
  margin: 0;
  height: 100%;
}

.wrapper {
  background: #17191C;
  color: #fff;
  font-size: 14px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  min-width: 1154px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-page-wrapper {
  background: url("../../img/hero.png") center top no-repeat, 
  url("../../img/bottom-pic.png") center bottom 248px no-repeat;
}

.wrapper__content {
  flex: 1;
}

.container {
  margin: 0 auto;
  width: 1142px;
}

h1,h2,h3,h4,p {
  margin: 0;
}

h2 {
  font-size: 36px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}