.contacts__dropdown-title {
  position: relative;
  display: inline-flex;
}

.contacts__dropdown-title:hover .graf__link {
  color: orange;
  transition: .4s;
}

.contacts__dropdown-title:hover .graf__menu {
  left: 0;
  opacity: 1;
}

.graf__link {
  display: block;
  color: #FF3D00;
  font-size: 13px;
  text-decoration: underline;
  margin-top: -8px;
  margin-right: 3px;
}

.graf__menu {
  position: absolute;
  width: 157px;
  height: 68px;
  background: #fff;
  color:#1E1F20;
  border-radius: 5px;
  padding: 12px 17px 15px;
  top: 100%;
  margin-top: 7px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity .8s;
  left: -9999px;
}

.graf__menu:before {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  left: 0;    
  right: 0;
  top: -20px;
}

.graf__menu:after {
  content: "";
  border: 11px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;    
  top: -20px;
  right: 41px;
}

.graf__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graf__item {
  margin-bottom: 2px;
}

.graf__time {
  color: #1E1F20;
  font-size: 13px;
  font-weight: 700;
}

.graf__time-break {
  font-weight: 600;
  margin-right: 11px;
}