.contacts {
  font-style: normal;
  text-align: right;
  margin-top: 2px;
}

.contacts__tel {
  font-size: 26px;
}

.contacts__graf {
  display: block;
  color: #FF3D00;
  font-size: 13px;
  text-decoration: underline;
  margin-top: -8px;
  margin-right: 3px;
}

/*.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color: #1E1F20;
} */

.contacts__free-call {
  display: block;
  color: #9A9A9A;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 44px;
  margin-bottom: -1px;
}