.footer {
  height: 93px;
}

.footer .container {
  border-top: 2px solid #353538;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
  margin-bottom: -90px;
}

.footer__col--aling--right {
  align-items: flex-end;
}

.footer .logo__icon {
  margin-bottom: 47px;
}

.footer .menu {
  margin-bottom: 52px;
  margin-left: 130px;
}

.footer .contacts {
  margin-top: -88px;
}