.inner-footer-reviews .container {
  border-top: none;
}

.inner-footer-reviews .logo {
  margin-top: 2px;
}

.inner-footer-reviews .menu {
  margin-bottom: -44px;
}

.inner-footer-reviews .contacts {
  margin-top: 0;
}