.news {
  margin-bottom: 142px;
}

.news__list {
  margin-bottom: 56px;
  display: flex;
  justify-content: space-between;
}

.news__title {
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 51px;
  text-transform: uppercase;
}

.news__item {
  height: 394px;
  margin-right: 25px;
  flex: 1;
}

.news__item:last-child {
  margin-right: 0;
}

.single-news__content {
  margin-top: -141px;
  padding: 0 30px;
}

.news__item:last-child .single-news__content {
  margin-left: -2px;
}

.single-news__bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-left: -2px;
}

.single-news__date {
  display: block;
  margin-bottom: 13px;
}

.single-news__subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 5px;
  margin-left: 1px;
}

.news__item:last-child .single-news__subtitle {
  margin-left: -2px;
  margin-bottom: 11px;
}

.single-news__info {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-left: 3px;
}

.news__item:last-child .single-news__info {
  margin-left: 0px;
}