.socials {
  margin-top: 35px;
  margin-right: 74px;
}

.socials__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials__item {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  margin-top: 2px;
}

.socials__item:last-child {
  margin-right: 0px;
}

.socials__icon {
  width: 36px;
  height: 36px;
  position: relative;
}

.socials__icon:hover:before {
  opacity: 0;
}

.socials__icon:hover:after {
  opacity: 1;
}

.socials__icon:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; 
  height: 36px;
  transition: .4s;
}

.socials__icon:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; 
  height: 36px;
  opacity: 0;
  transition: .4s;
}

.socials__icon-tg:before {
  background: url('../../sprites/t_sprite.png') -66px -10px;
}

.socials__icon-tg:after {
  background: url('../../sprites/t_sprite.png') -10px -10px;
}

.socials__icon-vk:before {
  background: url('../../sprites/vk_sprite.png') -66px -10px;
}

.socials__icon-vk:after {
  background: url('../../sprites/vk_sprite.png') -10px -10px;
}

.socials__icon-fb:before {
  background: url('../../sprites/fb_sprite.png') -66px -10px;
}

.socials__icon-fb:after {
  background: url('../../sprites/fb_sprite.png') -10px -10px;
}

.socials__icon-inst:before {
  background: url('../../sprites/inst_sprite.png') -66px -10px;
}

.socials__icon-inst:after {
  background: url('../../sprites/inst_sprite.png') -10px -10px;
}