.socials {
  margin-top: 35px;
  margin-right: 74px;
}

.socials__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials__item {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  margin-top: 2px;
}

.socials__item:last-child {
  margin-right: 0px;
}