.welcome {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url("../../img/img4/bg.png") center no-repeat;
}

.welcome__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1128px;
  height: 643px;
  background: url("../../img/img4/rec.png");
}
